@import '/src/assets/sass/variable';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.formWrapper {
    display: flex;
    margin: 32px auto;
    padding: 24px;
    box-shadow: 0px 0px 16px rgb(255 255 255 / 30%);
    border-radius: 4px;
    background-color: $white;

    .routerOutlet,
    .authenticationInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .authenticationInfo {
        align-items: center;

        h2 {
            color: $dark-blue;
        }

        img {
            width: 100%;
            margin: 12px;
        }
    }
}

.authenticationPage {
    animation: fadeIn 0.5s ease-in;
}