@import '/src/assets/sass/variable';
@import '/src/assets/sass/mixin';

.loading_container{
    text-align: center;
    margin: 12px;
}

.budgets_cards_wrapper {
    display: flex;
    flex-wrap: wrap;
}