@import '/src/assets/sass/variable';
@import '/src/assets/sass/mixin';

.formsGroup {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;

    .cardsTransactions {
        @include cardWrapper;
        width: 48%;
        padding: 24px;
    }
}