@import '/src/assets/sass/variable';
@import '/src/assets/sass/mixin';

.budget_card {
    @include cardWrapper;
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0.5%;
    padding: 12px;

    .card_info {
        width: 64%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-top: 8px;

            &:first-child {
                margin-top: 0;
            }

            span {
                font-weight: bold;
                color: $dark-blue;
            }

        }
    }

    .card_buttons {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .detail_button {
            width: 100%;
            color: $white;
            margin-top: 8px;
        }

        .info_button {
            margin-top: 0;
            color: $dark-blue;
        }

        .edit_button {
            background-color: $orange;
        }

        .remove_button {
            background-color: $red;
        }
    }
}